body {
    margin: 0;
    font-family: 'Newsreader', serif;
}

header .title {
    height: 90px;
}

header .title .title_img {
    position: absolute;
    object-fit: cover;
    height: 90px;
    width: 100%;
    background-color:#DBAF9E;
    opacity: 0.6;
}

header .title h1 {
    position: absolute;
    font-size: 40px;
    top: 30px;
    left: 5%;
    color: #5d5d5d;
    margin: 0 auto;
    transition: 1s;
}

header .title h1:before {
    content: "(: ";  
}

header .title h1:hover {
    transform:translateX(20%);
}

main {
    height: 900px;
    background-image: url("../img/pexels-stephan-seeber-1261728\ \(1\).jpg");
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

main .main_img {
    margin: 50px 30px 0px 30px;
    background: url("../img/2569711043.jpg") no-repeat center center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.6s;
}

main .main_img:hover {
    opacity: 1;
}

main .main_info {
    margin: 50px 30px 0px 30px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffefd8;
    height: 320px;
    width: 55%;
    font-size: 1.2rem;
    opacity: 0.7;
    border-radius: 10%;
    transition: 0.1s;
}

main .main_info:hover {
    opacity: 1;
}

footer {
    height: 50px;
}

footer .footer_info {
    display: flex;
    justify-content: center;
    padding: 0 600px 0 600px;
    background-color:#DBAF9E;
    opacity: 0.9;
}

footer .footer_info img {
    transform: translateX(-40%);
    margin: 20px 20px;
    height: 30px;
    width: 30px;
    transition: 0.1s;
    opacity: 0.8;
}

footer .footer_info img:hover {
    opacity: 1;
    height: 32px;
    width: 32px;
}